* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border-width: 0;
    white-space: nowrap;
}

body {
    background: rgb(0, 0, 0); 
    background-image: url("https://i.pinimg.com/originals/63/9b/0a/639b0aaebcdb5403a7ac6b59ebc77064.gif");
    font-size: 1.6rem;
    background-position: center;
    background-repeat: no-repeat;  

}

body * {
    font-family: 'Raleway', serif;
}

.genre {
    display: flex;
}

.genre p {
    margin-top: 3px;
    font-weight: bold;
    color: rgb(248, 1, 1);
    font-size: 1.6rem;
}

.genre i {
    margin-right: 4px;
    margin-top: 2px;
    font-size: 20px;
    color: yellow;
}

header {
    text-align: center;
    justify-content: center;
    padding: 36px;
    color: aliceblue;
    margin: auto;
}

header input {
    margin-top: 2rem;
    padding: 1rem 1.6rem;
    border-radius: .8rem;

    background-color: rgb(61, 61, 61);
    border: 0;
    width: 450px;
    color: rgb(247, 248, 248);

    font-size: 1.6rem;
}

main {
    padding-inline: 3.2rem;
    max-width: 70rem;
    margin: 3.2rem auto;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;

    list-style: none;
    cursor: pointer;
}

ul:has(li:hover) li:not(:hover) {
    opacity: .4;
    scale: .90;    
}

li {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;

    background-color: rgb(52, 58, 65);
    padding: 3.8rem;
    border-radius: .8rem;
    color: white;
    text-align: center;

    transition: all .4s;
}

li .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

}

li h2 {
    opacity: .9;
    width: 100%;
}

li p {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    opacity: .5;    
    text-align: center;
}

a {
    margin-top: 20px;
    align-self: center;
    color: white;
    font-size: 14px;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 251, 0);
}
    

img {
    width: 150px;
    height: 150px;
    margin-bottom: 1.6rem;
    border-radius: 10px;
}

@media (max-width: 36rem) {
    ul {
        grid-template-columns: 1fr;
    }
}